<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2021-04-26T22:36:26Z</date>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Untitled Page</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Volumes/Clouds/odrive/OneDrive/archive/2021%20Spring/newviewerwebsite/janeoa.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-04-26T22:42:31Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/archive-april-2021.html</key>
							<dict>
								<key>Digest</key>
								<data>
								aG4DMNUB8AG5
								9O/n+bdrvw==
								</data>
								<key>Size</key>
								<integer>4339</integer>
							</dict>
							<key>files/epta.html</key>
							<dict>
								<key>Digest</key>
								<data>
								I3WZdqIs+hFi
								P2PIAMfrHQ==
								</data>
								<key>Size</key>
								<integer>4041</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								tAnQzWe+Ao4c
								xd5z9F8uUA==
								</data>
								<key>Size</key>
								<integer>1252</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								w9kZWFix+pKQ
								gx+KSIijtw==
								</data>
								<key>Size</key>
								<integer>1609</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								beHuZfQ0tCpV
								adnqu8B+EQ==
								</data>
								<key>Size</key>
								<integer>3978</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
